---
// code fences
import HeaderLink from "./HeaderLink.astro";

import { getRelativeLocaleUrl } from "astro:i18n";
const { i18n } = Astro.props;

const locale = Astro.currentLocale;
const otherLocale = locale == "en" ? "fr" : "en";

let url = Astro.url.pathname;
const translatedpath = `/${otherLocale + url.substring(3)}`;

const homeURL = getRelativeLocaleUrl(`${locale}`);
const aboutURL = getRelativeLocaleUrl(`${locale}`, "about");
const signinURL = getRelativeLocaleUrl(`${locale}`, "signin");

const language = i18n.t("commons.language");
---

<header>
  <nav>
    <section class="bg-slate-50">
      <div class="md:container md:mx-auto px-4 py-10">
        <h2>
          <a href=`/${locale}`>{i18n.t("commons.project-name", { language })}</a
          >
        </h2>

        <div class="internal-links mt-12">
          <HeaderLink href={homeURL}
            >{i18n.t("strings.index.menu-name")}</HeaderLink
          >
          <HeaderLink href={aboutURL}
            >{i18n.t("strings.about.menu-name")}</HeaderLink
          >
          <HeaderLink href={signinURL}
            >{i18n.t("strings.signin.menu-name")}</HeaderLink
          >
          <HeaderLink href={translatedpath}
            ><span class="mr-2">|</span>{otherLocale}</HeaderLink
          >
        </div>
      </div>
    </section>
  </nav>
</header>
